.partner-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.partner-items .partner-item {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.partner-items .partner-item .partner-thumb img {
    height: 80px;
    width: auto;
    display: inline-block;
}
@media only screen and (min-width: 576px) {
    .partner-items .partner-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {


}